[Desktop Entry]
Type=Application
Name=MicNet
Name[tr]=MicNet
Comment=Siber Guvenlik Araci
Exec=bash run.sh
Icon=icon.svg
Terminal=false
Categories=Utility;Network;Security;
